<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="index :: head"></head>

<body>

	<div id="grid">
		<div th:replace="index :: sidebar"></div>

		<div id="main" class="main">
			<!-- Caption - begin -->
			<div class="caption">
				<h3 id="captionHead">Connection</h3>
				<div th:replace="index :: captionConnection"></div>
			</div>
			<!-- Caption - end -->


			<div class="content">

				<div id="connectDiv" class="connectionDiv">

					<form id="connectForm" class="form-horizontal">

						<div class="form-group">
							<label class="control-label col-sm-2" for="tripleStoreServer">Server</label>
							<div class="col-sm-4">
								<select id="tripleStoreServer" class="form-control">
									<option value="RDF4J-Server">RDF4J</option>
									<option value="Stardog-Server">Stardog</option>
									<option value="SPARQL-Endpoint">SPARQL Endpoint</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="tripleStoreUrl">URL</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="tripleStoreUrl"
									placeholder="Enter Server-URL...">
								<div id="invalidURLMsg" class="danger"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="tripleStoreRepo">Repository</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="tripleStoreRepo"
									placeholder="Enter Repository...">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="tripleStoreUserName">User
								Name</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="tripleStoreUserName"
									placeholder="Enter User Name...">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="tripleStorePassword">Password</label>
							<div class="col-sm-4">
								<input type="password" class="form-control"
									id="tripleStorePassword" placeholder="Enter Password...">
							</div>
						</div>

					</form>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="connectBtn" type="submit" class="btn btn-default">Connect</button>
						</div>
					</div>
				</div>
				<div id="connectSuccess" class="connectionDiv">
					<p>Successfully connected.</p>
					<a href="/" class="btn btn-default" role="button">OK</a>
				</div>
				<div id="connectFail" class="connectionDiv">
					<p class="danger">
						Connection to <span id="connectFailSpan"></span> failed.
					</p>
					<button id="connectionFailBtn" class="btn btn-default">OK</button>
				</div>
			</div>

		</div>
	</div>


	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="js/explordf.js"></script>
</body>

</html>