<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<title>ExploRDF</title>
</head>

<body>

	<div th:fragment="sidebar" id="sidebar" class="sidebar">
		<div id="mainSidebar" class="mainSidebar">
			<ul>
				<li id="navLogo"><a href="/">ExploRDF</a></li>
				<li id="navConnect"><a href="connect">Connect</a></li>
				<li id="navQuery"><a href="query">Query</a></li>
				<li id="navHelp"><a href="help">Help</a></li>
			</ul>
		</div>
		<div id="sidebarToggle" class="sidebarToggle">
			<button id="toggleButton" type="button"
				class="btn btn-default btn-sm closebtn" onclick="tog()">
				<span id="buttonSymbol" class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
	</div>

	<div class="main">
<!-- 	<button id="postBtn">Click</button> -->
<!-- 	<div class="username"> -->
<!--         <label for="uname">Username:</label> -->
<!--         <input type="text" id="uname" name="uname" required -->
<!--                minlength="4" maxlength="8" -->
<!--                placeholder="4 to 8 characters long" /> -->
<!--         <span class="validity"></span> -->
<!--     </div> -->

		<button id="btnFunClick">Click</button>
		<div id="table1" class = 'table-wrapper-scroll-y'></div>

	</div>


	<script src="https://d3js.org/d3.v5.js"></script>
<script src="js/explordf.js"></script>
	

</body>

</html>